@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vondo!</h1>
    <p>lendo sobre<a href="https://docs.microsoft.com/aspnet/core"> Meu primeiro MVC </a>.</p>
</div>
